[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
default_authentication_plugin=mysql_native_password

# Custom config should go here
!includedir /etc/mysql/conf.d/

server_id=201      #每个服务器的id都是唯一的，必须进行修改！
log_bin=mysql-slave01-bin
relay_log=wnhz-relay-bin
read_only=1        #从数据库不需要进行增删改等写入操作，所以设为只读
